{
 :paths ["src"]
 :deps {
        org.clojure/clojure { :mvn/version "1.11.1" }
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        metosin/malli { :mvn/version "0.11.0" }
        org.fudo/notifier {
                           :git/url "https://git.fudo.org/fudo-public/notifier.git"
                           :git/sha "9142e3d8e9084fa2eb0d2e569b9b9165aac5a09a"
                           ;; :local/root "/nix/store/zjbl2l2az2qdanxqqqp8mzyj4p3nvgh6-notifier-0.1/notifier-uber-0.1.jar"
                           }
        org.fudo/fudo-clojure {
                               :git/url "https://git.fudo.org/fudo-public/fudo-clojure.git"
                               :git/sha "2352892ad7d7cf7c6bd294005a28d55ef224862a"
                               }
        org.fudo/milquetoast {
                              :git/url "https://git.fudo.org/fudo-public/milquetoast.git"
                              :git/sha "ae81b91f0c710632f55b43f0193e16ab0dd81dde"
                              }
        }
}
