{
 :paths ["src"]
 :deps {
        org.clojure/clojure { :mvn/version "1.11.1" }
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        metosin/malli { :mvn/version "0.11.0" }
        org.fudo/notifier {
                           :git/url "https://fudo.dev/public/notifier.git"
                           :git/sha "06c061a7ca3bf3a7e37b20eb95d42159575b0ae5"
                           }
        org.fudo/fudo-clojure {
                               :git/url "https://fudo.dev/public/fudo-clojure.git"
                               :git/sha "12eff55c8b2a3b3a84c58b81315dbdf7284b991b"
                               }
        org.fudo/milquetoast {
                              :git/url "https://fudo.dev/public/milquetoast.git"
                              :git/sha "9960525a3ec0045190daa6a5db596e6826a32aed"
                              }
        }
}
